In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel(r'C:\Users\Jose Chua\OneDrive\Python\School Snek Work\831\Team_Project\Credit Canada Data.xlsx', index_col=0, sheet_name='Dataset')

In [3]:
df.head(10)

,DCP_activation_date,DCP_start_date,duration_of_dcp,DCP_drop_date,DCP_drop_status,gender_at_activation,marital_status_at_activation,age_at_activation,dependents_at_activation,number_in_household_at_activation,...,pmtstatus03,pmtstatus04,pmtstatus05,pmtstatus06,pmtstatus07,pmtstatus08,pmtstatus09,pmtstatus10,pmtstatus11,pmtstatus12
id,,,,,,,,,,,,,,,,,,,,,
67330,2019-08-20,2019-08-30,48,2023-08-09,Successful Completion,Male,Married,59.0,0,2,...,zero,full,partial,zero,full,partial,partial,zero,partial,zero
69260,2020-10-15,2020-11-15,38,2024-01-25,Non Payment,Female,Separated,63.0,0,1,...,partial,partial,full,partial,partial,partial,partial,partial,partial,partial
72183,2022-03-21,2022-04-24,29,2024-09-20,Successful Completion,Female,Married,33.0,0,2,...,full,full,full,full,full,full,full,full,full,full
69494,2022-03-12,2022-04-24,22,2024-02-28,Non Payment,Male,Married,36.0,3,5,...,partial,zero,zero,partial,partial,partial,partial,partial,partial,partial
67603,2023-02-02,2023-02-24,8,2023-10-05,Non Payment,Female,Single,39.0,3,4,...,zero,zero,zero,zero,zero,zero,NaN,NaN,NaN,NaN
71584,2021-04-23,2021-05-20,36,2024-05-25,Successful Completion,Male,Married,33.0,0,2,...,zero,full,full,full,full,full,full,full,full,full
72370,2024-04-01,2024-04-24,6,2024-10-18,Non Payment,Female,Separated,45.0,1,3,...,zero,zero,zero,zero,NaN,NaN,NaN,NaN,NaN,NaN
69289,2023-05-23,2023-07-24,6,2024-01-30,Non Payment,Female,Married,32.0,0,1,...,zero,zero,zero,zero,NaN,NaN,NaN,NaN,NaN,NaN
67630,2019-10-31,2019-10-08,48,2023-10-11,Non Payment,Female,Widowed,73.0,0,1,...,full,full,full,full,full,full,full,full,full,full
67308,2019-10-31,2019-11-14,45,2023-08-03,Non Payment,Female,Married,38.0,2,4,...,full,zero,full,full,zero,full,zero,full,zero,full

In [4]:
df.dtypes

DCP_activation_date                     datetime64[ns]
DCP_start_date                          datetime64[ns]
duration_of_dcp                                  int64
DCP_drop_date                           datetime64[ns]
DCP_drop_status                                 object
gender_at_activation                            object
marital_status_at_activation                    object
age_at_activation                              float64
dependents_at_activation                         int64
number_in_household_at_activation                int64
housing_status_at_activation                    object
employment_status_at_activation                 object
occupation_at_activation                        object
postal_prefix_at_activation                     object
city_at_activation                              object
province_at_activation                          object
reason_for_DCP_at_activation                    object
asset_amount_owed_at_activation                  int64
asset_value_at_activation                        int64
monthly_income_at_activation                   float64
monthly_expenses_at_activation                 float64
DCP_debt_at_activation                           int64
DCP_debt_balance_at_activation                 float64
has_payday_debt_on_DCP_at_activation             int64
payday_debt_balance_at_activation              float64
pmtstatus01                                     object
pmtstatus02                                     object
pmtstatus03                                     object
pmtstatus04                                     object
pmtstatus05                                     object
pmtstatus06                                     object
pmtstatus07                                     object
pmtstatus08                                     object
pmtstatus09                                     object
pmtstatus10                                     object
pmtstatus11                                     object
pmtstatus12                                     object
dtype: object

In [5]:
#turning target variable into binary
#df['DCP_drop_status'] = df['DCP_drop_status'].map({'Successful Completion': 1, 'Non Payment': 0,'Bankruptcy':0,'Deceased':0,'Consumer Proposal':0,'Self Administration':0})
#print(df)

Data Cleaning:

-Change Names of features \
-Change all qualitative data fields into quantitiative fields \
-Remove noise and redundancies \
-Handle missing values? \
-Drop useless features

In [6]:
#changing the names the monthly payment of the features
df.rename(columns={
'pmtstatus01':'pmtstatus1',
'pmtstatus02':'pmtstatus2',
'pmtstatus03':'pmtstatus3',
'pmtstatus04':'pmtstatus4',
'pmtstatus05':'pmtstatus5',
'pmtstatus06':'pmtstatus6',
'pmtstatus07':'pmtstatus7',
'pmtstatus08':'pmtstatus8',
'pmtstatus09':'pmtstatus9'},
inplace = True
)

In [7]:
#Adding dummy variables for gender
df = pd.get_dummies(df, columns=['gender_at_activation'], prefix='gender')

# View the updated DataFrame
print(df)

      DCP_activation_date DCP_start_date  duration_of_dcp DCP_drop_date  \
id
67330          2019-08-20     2019-08-30               48    2023-08-09
69260          2020-10-15     2020-11-15               38    2024-01-25
72183          2022-03-21     2022-04-24               29    2024-09-20
69494          2022-03-12     2022-04-24               22    2024-02-28
67603          2023-02-02     2023-02-24                8    2023-10-05
...                   ...            ...              ...           ...
72378          2024-07-26     2024-09-24                1    2024-10-21
72071          2024-07-31     2024-08-24                1    2024-09-03
72383          2024-08-20     2024-09-24                1    2024-10-22
72344          2024-08-14     2024-09-24                1    2024-10-17
72246          2024-08-23     2024-09-24                1    2024-10-02

             DCP_drop_status marital_status_at_activation  age_at_activation  \
id
67330  Successful Completion                      Married               59.0
69260            Non Payment                    Separated               63.0
72183  Successful Completion                      Married               33.0
69494            Non Payment                      Married               36.0
67603            Non Payment                       Single               39.0
...                      ...                          ...                ...
72378      Consumer Proposal                       Single               45.0
72071      Consumer Proposal                    Separated               63.0
72383    Self Administration                       Single               28.0
72344      Consumer Proposal                       Single               31.0
72246    Self Administration                       Single               28.0

       dependents_at_activation  number_in_household_at_activation  \
id
67330                         0                                  2
69260                         0                                  1
72183                         0                                  2
69494                         3                                  5
67603                         3                                  4
...                         ...                                ...
72378                         3                                  4
72071                         0                                  2
72383                         0                                  1
72344                         0                                  1
72246                         0                                  2

      housing_status_at_activation  ... pmtstatus6 pmtstatus7 pmtstatus8  \
id                                  ...
67330                         Rent  ...       zero       full    partial
69260                          Own  ...    partial    partial    partial
72183                         Rent  ...       full       full       full
69494                         Rent  ...    partial    partial    partial
67603                         Rent  ...       zero       zero       zero
...                            ...  ...        ...        ...        ...
72378                         Rent  ...        NaN        NaN        NaN
72071                         Rent  ...        NaN        NaN        NaN
72383                         Rent  ...        NaN        NaN        NaN
72344                         Rent  ...        NaN        NaN        NaN
72246                         Rent  ...        NaN        NaN        NaN

      pmtstatus9 pmtstatus10 pmtstatus11  pmtstatus12  gender_Female  \
id
67330    partial        zero     partial         zero          False
69260    partial     partial     partial      partial           True
72183       full        full        full         full           True
69494    partial     partial     partial      partial          False
67603        NaN         NaN         NaN          NaN           True
...          ...         ...         ...          ...            ...
72378        NaN         NaN         NaN          NaN          False
72071        NaN         NaN         NaN          NaN           True
72383        NaN         NaN         NaN          NaN          False
72344        NaN         NaN         NaN          NaN          False
72246        NaN         NaN         NaN          NaN          False

       gender_Male  gender_Other/Not Reported
id
67330         True                      False
69260        False                      False
72183        False                      False
69494         True                      False
67603        False                      False
...            ...                        ...
72378         True                      False
72071        False                      False
72383         True                      False
72344         True                      False
72246         True                      False

[3212 rows x 39 columns]

In [8]:
#Adding dummy variables for marital status
df = pd.get_dummies(df, columns=['marital_status_at_activation'], prefix='marital status')
df.columns

Index(['DCP_activation_date', 'DCP_start_date', 'duration_of_dcp',
       'DCP_drop_date', 'DCP_drop_status', 'age_at_activation',
       'dependents_at_activation', 'number_in_household_at_activation',
       'housing_status_at_activation', 'employment_status_at_activation',
       'occupation_at_activation', 'postal_prefix_at_activation',
       'city_at_activation', 'province_at_activation',
       'reason_for_DCP_at_activation', 'asset_amount_owed_at_activation',
       'asset_value_at_activation', 'monthly_income_at_activation',
       'monthly_expenses_at_activation', 'DCP_debt_at_activation',
       'DCP_debt_balance_at_activation',
       'has_payday_debt_on_DCP_at_activation',
       'payday_debt_balance_at_activation', 'pmtstatus1', 'pmtstatus2',
       'pmtstatus3', 'pmtstatus4', 'pmtstatus5', 'pmtstatus6', 'pmtstatus7',
       'pmtstatus8', 'pmtstatus9', 'pmtstatus10', 'pmtstatus11', 'pmtstatus12',
       'gender_Female', 'gender_Male', 'gender_Other/Not Reported',
       'marital status_Common Law/Domestic Partners',
       'marital status_Divorced', 'marital status_Married',
       'marital status_Separated', 'marital status_Single',
       'marital status_Widowed'],
      dtype='object')

In [9]:
#Making housing status binary
ownership_mapping = {
    'Own': 1,
    'Rent': 0
}

# Apply the mapping to the 'ownership' column
df['housing_status_at_activation_binary'] = df['housing_status_at_activation'].map(ownership_mapping)

#dropping old column
df.drop('housing_status_at_activation', axis=1, inplace= True)
df.head(10)

,DCP_activation_date,DCP_start_date,duration_of_dcp,DCP_drop_date,DCP_drop_status,age_at_activation,dependents_at_activation,number_in_household_at_activation,employment_status_at_activation,occupation_at_activation,...,gender_Female,gender_Male,gender_Other/Not Reported,marital status_Common Law/Domestic Partners,marital status_Divorced,marital status_Married,marital status_Separated,marital status_Single,marital status_Widowed,housing_status_at_activation_binary
id,,,,,,,,,,,,,,,,,,,,,
67330,2019-08-20,2019-08-30,48,2023-08-09,Successful Completion,59.0,0,2,Working Full-Time,truck driver (on WSIB),...,False,True,False,False,False,True,False,False,False,0
69260,2020-10-15,2020-11-15,38,2024-01-25,Non Payment,63.0,0,1,Working Full-Time,DR PATAL,...,True,False,False,False,False,False,True,False,False,1
72183,2022-03-21,2022-04-24,29,2024-09-20,Successful Completion,33.0,0,2,Working Full-Time,Housekeeper,...,True,False,False,False,False,True,False,False,False,0
69494,2022-03-12,2022-04-24,22,2024-02-28,Non Payment,36.0,3,5,Working Full-Time,PACKING ASSISTANT,...,False,True,False,False,False,True,False,False,False,0
67603,2023-02-02,2023-02-24,8,2023-10-05,Non Payment,39.0,3,4,Working Part-Time,PSW,...,True,False,False,False,False,False,False,True,False,0
71584,2021-04-23,2021-05-20,36,2024-05-25,Successful Completion,33.0,0,2,Working Full-Time,contact tracer (contract),...,False,True,False,False,False,True,False,False,False,0
72370,2024-04-01,2024-04-24,6,2024-10-18,Non Payment,45.0,1,3,Working Full-Time,Employment Counselor,...,True,False,False,False,False,False,True,False,False,0
69289,2023-05-23,2023-07-24,6,2024-01-30,Non Payment,32.0,0,1,Working Full-Time,DISPATCH,...,True,False,False,False,False,True,False,False,False,0
67630,2019-10-31,2019-10-08,48,2023-10-11,Non Payment,73.0,0,1,Retired,pensioner,...,True,False,False,False,False,False,False,False,True,0
67308,2019-10-31,2019-11-14,45,2023-08-03,Non Payment,38.0,2,4,Working Full-Time,lunch room supervisor,...,True,False,False,False,False,True,False,False,False,0

In [10]:
#dummy variables for employment status
df = pd.get_dummies(df, columns=['employment_status_at_activation'], prefix='emp_type')
df.columns

Index(['DCP_activation_date', 'DCP_start_date', 'duration_of_dcp',
       'DCP_drop_date', 'DCP_drop_status', 'age_at_activation',
       'dependents_at_activation', 'number_in_household_at_activation',
       'occupation_at_activation', 'postal_prefix_at_activation',
       'city_at_activation', 'province_at_activation',
       'reason_for_DCP_at_activation', 'asset_amount_owed_at_activation',
       'asset_value_at_activation', 'monthly_income_at_activation',
       'monthly_expenses_at_activation', 'DCP_debt_at_activation',
       'DCP_debt_balance_at_activation',
       'has_payday_debt_on_DCP_at_activation',
       'payday_debt_balance_at_activation', 'pmtstatus1', 'pmtstatus2',
       'pmtstatus3', 'pmtstatus4', 'pmtstatus5', 'pmtstatus6', 'pmtstatus7',
       'pmtstatus8', 'pmtstatus9', 'pmtstatus10', 'pmtstatus11', 'pmtstatus12',
       'gender_Female', 'gender_Male', 'gender_Other/Not Reported',
       'marital status_Common Law/Domestic Partners',
       'marital status_Divorced', 'marital status_Married',
       'marital status_Separated', 'marital status_Single',
       'marital status_Widowed', 'housing_status_at_activation_binary',
       'emp_type_Retired', 'emp_type_Unemployed', 'emp_type_Working Full-Time',
       'emp_type_Working Part-Time'],
      dtype='object')

In [11]:
#there is a order to this... i think zero<partial<full... so I will use ordinal encoding...
#I think I could use hot encoding as well but we'll try ordinal first

pmt_status_mapping = {
    'NaN': -1,
    'zero': 0,
    'partial': 1,
    'full': 2
}
# Apply mapping to each payment status column
for i in range(1, 13):
    column_name = f'pmtstatus{i}'
    if column_name in df.columns:
        df[column_name] = df[column_name].map(pmt_status_mapping)
# View the converted DataFrame
df.head(10)

,DCP_activation_date,DCP_start_date,duration_of_dcp,DCP_drop_date,DCP_drop_status,age_at_activation,dependents_at_activation,number_in_household_at_activation,occupation_at_activation,postal_prefix_at_activation,...,marital status_Divorced,marital status_Married,marital status_Separated,marital status_Single,marital status_Widowed,housing_status_at_activation_binary,emp_type_Retired,emp_type_Unemployed,emp_type_Working Full-Time,emp_type_Working Part-Time
id,,,,,,,,,,,,,,,,,,,,,
67330,2019-08-20,2019-08-30,48,2023-08-09,Successful Completion,59.0,0,2,truck driver (on WSIB),L9A,...,False,True,False,False,False,0,False,False,True,False
69260,2020-10-15,2020-11-15,38,2024-01-25,Non Payment,63.0,0,1,DR PATAL,L2T,...,False,False,True,False,False,1,False,False,True,False
72183,2022-03-21,2022-04-24,29,2024-09-20,Successful Completion,33.0,0,2,Housekeeper,L2V,...,False,True,False,False,False,0,False,False,True,False
69494,2022-03-12,2022-04-24,22,2024-02-28,Non Payment,36.0,3,5,PACKING ASSISTANT,L2A,...,False,True,False,False,False,0,False,False,True,False
67603,2023-02-02,2023-02-24,8,2023-10-05,Non Payment,39.0,3,4,PSW,L2H,...,False,False,False,True,False,0,False,False,False,True
71584,2021-04-23,2021-05-20,36,2024-05-25,Successful Completion,33.0,0,2,contact tracer (contract),L2G,...,False,True,False,False,False,0,False,False,True,False
72370,2024-04-01,2024-04-24,6,2024-10-18,Non Payment,45.0,1,3,Employment Counselor,L0R,...,False,False,True,False,False,0,False,False,True,False
69289,2023-05-23,2023-07-24,6,2024-01-30,Non Payment,32.0,0,1,DISPATCH,L2R,...,False,True,False,False,False,0,False,False,True,False
67630,2019-10-31,2019-10-08,48,2023-10-11,Non Payment,73.0,0,1,pensioner,L2J,...,False,False,False,False,True,0,True,False,False,False
67308,2019-10-31,2019-11-14,45,2023-08-03,Non Payment,38.0,2,4,lunch room supervisor,L2R,...,False,True,False,False,False,0,False,False,True,False

In [12]:
df.dtypes

DCP_activation_date                            datetime64[ns]
DCP_start_date                                 datetime64[ns]
duration_of_dcp                                         int64
DCP_drop_date                                  datetime64[ns]
DCP_drop_status                                        object
age_at_activation                                     float64
dependents_at_activation                                int64
number_in_household_at_activation                       int64
occupation_at_activation                               object
postal_prefix_at_activation                            object
city_at_activation                                     object
province_at_activation                                 object
reason_for_DCP_at_activation                           object
asset_amount_owed_at_activation                         int64
asset_value_at_activation                               int64
monthly_income_at_activation                          float64
monthly_expenses_at_activation                        float64
DCP_debt_at_activation                                  int64
DCP_debt_balance_at_activation                        float64
has_payday_debt_on_DCP_at_activation                    int64
payday_debt_balance_at_activation                     float64
pmtstatus1                                            float64
pmtstatus2                                            float64
pmtstatus3                                            float64
pmtstatus4                                            float64
pmtstatus5                                            float64
pmtstatus6                                            float64
pmtstatus7                                            float64
pmtstatus8                                            float64
pmtstatus9                                            float64
pmtstatus10                                           float64
pmtstatus11                                           float64
pmtstatus12                                           float64
gender_Female                                            bool
gender_Male                                              bool
gender_Other/Not Reported                                bool
marital status_Common Law/Domestic Partners              bool
marital status_Divorced                                  bool
marital status_Married                                   bool
marital status_Separated                                 bool
marital status_Single                                    bool
marital status_Widowed                                   bool
housing_status_at_activation_binary                     int64
emp_type_Retired                                         bool
emp_type_Unemployed                                      bool
emp_type_Working Full-Time                               bool
emp_type_Working Part-Time                               bool
dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3212 entries, 67330 to 72246
Data columns (total 47 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   DCP_activation_date                          3212 non-null   datetime64[ns]
 1   DCP_start_date                               3212 non-null   datetime64[ns]
 2   duration_of_dcp                              3212 non-null   int64
 3   DCP_drop_date                                3212 non-null   datetime64[ns]
 4   DCP_drop_status                              3212 non-null   object
 5   age_at_activation                            3193 non-null   float64
 6   dependents_at_activation                     3212 non-null   int64
 7   number_in_household_at_activation            3212 non-null   int64
 8   occupation_at_activation                     2632 non-null   object
 9   postal_prefix_at_activation                  3192 non-null   object
 10  city_at_activation                           3148 non-null   object
 11  province_at_activation                       3187 non-null   object
 12  reason_for_DCP_at_activation                 1182 non-null   object
 13  asset_amount_owed_at_activation              3212 non-null   int64
 14  asset_value_at_activation                    3212 non-null   int64
 15  monthly_income_at_activation                 3212 non-null   float64
 16  monthly_expenses_at_activation               3203 non-null   float64
 17  DCP_debt_at_activation                       3212 non-null   int64
 18  DCP_debt_balance_at_activation               3212 non-null   float64
 19  has_payday_debt_on_DCP_at_activation         3212 non-null   int64
 20  payday_debt_balance_at_activation            3212 non-null   float64
 21  pmtstatus1                                   3169 non-null   float64
 22  pmtstatus2                                   3118 non-null   float64
 23  pmtstatus3                                   2976 non-null   float64
 24  pmtstatus4                                   2814 non-null   float64
 25  pmtstatus5                                   2641 non-null   float64
 26  pmtstatus6                                   2521 non-null   float64
 27  pmtstatus7                                   2412 non-null   float64
 28  pmtstatus8                                   2292 non-null   float64
 29  pmtstatus9                                   2201 non-null   float64
 30  pmtstatus10                                  2114 non-null   float64
 31  pmtstatus11                                  2045 non-null   float64
 32  pmtstatus12                                  1974 non-null   float64
 33  gender_Female                                3212 non-null   bool
 34  gender_Male                                  3212 non-null   bool
 35  gender_Other/Not Reported                    3212 non-null   bool
 36  marital status_Common Law/Domestic Partners  3212 non-null   bool
 37  marital status_Divorced                      3212 non-null   bool
 38  marital status_Married                       3212 non-null   bool
 39  marital status_Separated                     3212 non-null   bool
 40  marital status_Single                        3212 non-null   bool
 41  marital status_Widowed                       3212 non-null   bool
 42  housing_status_at_activation_binary          3212 non-null   int64
 43  emp_type_Retired                             3212 non-null   bool
 44  emp_type_Unemployed                          3212 non-null   bool
 45  emp_type_Working Full-Time                   3212 non-null   bool
 46  emp_type_Working Part-Time                   3212 non-null   bool
dtypes: bool(13), datetime64[ns](3), float64(17), int64(8), object(6)
memory usage: 919.1+ KB

In [14]:
#changing all my booleans to integers
df[df.select_dtypes(include='bool').columns] = df.select_dtypes(include='bool').astype(int)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3212 entries, 67330 to 72246
Data columns (total 47 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   DCP_activation_date                          3212 non-null   datetime64[ns]
 1   DCP_start_date                               3212 non-null   datetime64[ns]
 2   duration_of_dcp                              3212 non-null   int64
 3   DCP_drop_date                                3212 non-null   datetime64[ns]
 4   DCP_drop_status                              3212 non-null   object
 5   age_at_activation                            3193 non-null   float64
 6   dependents_at_activation                     3212 non-null   int64
 7   number_in_household_at_activation            3212 non-null   int64
 8   occupation_at_activation                     2632 non-null   object
 9   postal_prefix_at_activation                  3192 non-null   object
 10  city_at_activation                           3148 non-null   object
 11  province_at_activation                       3187 non-null   object
 12  reason_for_DCP_at_activation                 1182 non-null   object
 13  asset_amount_owed_at_activation              3212 non-null   int64
 14  asset_value_at_activation                    3212 non-null   int64
 15  monthly_income_at_activation                 3212 non-null   float64
 16  monthly_expenses_at_activation               3203 non-null   float64
 17  DCP_debt_at_activation                       3212 non-null   int64
 18  DCP_debt_balance_at_activation               3212 non-null   float64
 19  has_payday_debt_on_DCP_at_activation         3212 non-null   int64
 20  payday_debt_balance_at_activation            3212 non-null   float64
 21  pmtstatus1                                   3169 non-null   float64
 22  pmtstatus2                                   3118 non-null   float64
 23  pmtstatus3                                   2976 non-null   float64
 24  pmtstatus4                                   2814 non-null   float64
 25  pmtstatus5                                   2641 non-null   float64
 26  pmtstatus6                                   2521 non-null   float64
 27  pmtstatus7                                   2412 non-null   float64
 28  pmtstatus8                                   2292 non-null   float64
 29  pmtstatus9                                   2201 non-null   float64
 30  pmtstatus10                                  2114 non-null   float64
 31  pmtstatus11                                  2045 non-null   float64
 32  pmtstatus12                                  1974 non-null   float64
 33  gender_Female                                3212 non-null   int32
 34  gender_Male                                  3212 non-null   int32
 35  gender_Other/Not Reported                    3212 non-null   int32
 36  marital status_Common Law/Domestic Partners  3212 non-null   int32
 37  marital status_Divorced                      3212 non-null   int32
 38  marital status_Married                       3212 non-null   int32
 39  marital status_Separated                     3212 non-null   int32
 40  marital status_Single                        3212 non-null   int32
 41  marital status_Widowed                       3212 non-null   int32
 42  housing_status_at_activation_binary          3212 non-null   int64
 43  emp_type_Retired                             3212 non-null   int32
 44  emp_type_Unemployed                          3212 non-null   int32
 45  emp_type_Working Full-Time                   3212 non-null   int32
 46  emp_type_Working Part-Time                   3212 non-null   int32
dtypes: datetime64[ns](3), float64(17), int32(13), int64(8), object(6)
memory usage: 1.0+ MB

In [16]:
#more cleaning, we have to get rid of nans and stuff
nan_counts = df.isna().sum()

# Display columns with missing values
print(nan_counts[nan_counts > 0])

age_at_activation                   19
occupation_at_activation           580
postal_prefix_at_activation         20
city_at_activation                  64
province_at_activation              25
reason_for_DCP_at_activation      2030
monthly_expenses_at_activation       9
pmtstatus1                          43
pmtstatus2                          94
pmtstatus3                         236
pmtstatus4                         398
pmtstatus5                         571
pmtstatus6                         691
pmtstatus7                         800
pmtstatus8                         920
pmtstatus9                        1011
pmtstatus10                       1098
pmtstatus11                       1167
pmtstatus12                       1238
dtype: int64

In [17]:
df1 = df.drop(['occupation_at_activation', 'reason_for_DCP_at_activation'], axis=1).dropna(subset=['age_at_activation','postal_prefix_at_activation','city_at_activation','province_at_activation','monthly_expenses_at_activation'])

In [18]:
#more cleaning, we have to get rid of nans and stuff
nan_counts1 = df1.isna().sum()

# Display columns with missing values
print(nan_counts1[nan_counts1 > 0])

pmtstatus1       42
pmtstatus2       92
pmtstatus3      228
pmtstatus4      382
pmtstatus5      548
pmtstatus6      662
pmtstatus7      770
pmtstatus8      888
pmtstatus9      976
pmtstatus10    1058
pmtstatus11    1125
pmtstatus12    1193
dtype: int64

In [19]:
df1['pmtstatus12'].head(10)

id
67330    0.0
69260    1.0
72183    2.0
69494    1.0
67603    NaN
71584    2.0
72370    NaN
69289    NaN
67630    2.0
67308    2.0
Name: pmtstatus12, dtype: float64

In [20]:
# Define the payment status columns
payment_status_columns = [f'pmtstatus{i}' for i in range(1, 13)]

# Replace only NaN values in the specified columns with -1
df1[payment_status_columns] = df[payment_status_columns].fillna(-1)

# Verify the changes
print(df1[payment_status_columns].head())

       pmtstatus1  pmtstatus2  pmtstatus3  pmtstatus4  pmtstatus5  pmtstatus6  \
id
67330         1.0         0.0         0.0         2.0         1.0         0.0
69260         2.0         2.0         1.0         1.0         2.0         1.0
72183         0.0         2.0         2.0         2.0         2.0         2.0
69494         2.0         1.0         1.0         0.0         0.0         1.0
67603         0.0         2.0         0.0         0.0         0.0         0.0

       pmtstatus7  pmtstatus8  pmtstatus9  pmtstatus10  pmtstatus11  \
id
67330         2.0         1.0         1.0          0.0          1.0
69260         1.0         1.0         1.0          1.0          1.0
72183         2.0         2.0         2.0          2.0          2.0
69494         1.0         1.0         1.0          1.0          1.0
67603         0.0         0.0        -1.0         -1.0         -1.0

       pmtstatus12
id
67330          0.0
69260          1.0
72183          2.0
69494          1.0
67603         -1.0

In [21]:
df1['pmtstatus12'].head(10)

id
67330    0.0
69260    1.0
72183    2.0
69494    1.0
67603   -1.0
71584    2.0
72370   -1.0
69289   -1.0
67630    2.0
67308    2.0
Name: pmtstatus12, dtype: float64

In [22]:
#Feature Engineering
#Asset networth
df1['asset_net_woth'] = df1['asset_value_at_activation']-df1['asset_amount_owed_at_activation']

#Expense Income Ratio
df1['expense_income_ratio']=df1['monthly_expenses_at_activation']/df1['monthly_income_at_activation']

df1['debt_income_ratio']=(df1['DCP_debt_balance_at_activation']+df1['asset_amount_owed_at_activation'])/df1['monthly_income_at_activation']

In [23]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3123 entries, 67330 to 72246
Data columns (total 48 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   DCP_activation_date                          3123 non-null   datetime64[ns]
 1   DCP_start_date                               3123 non-null   datetime64[ns]
 2   duration_of_dcp                              3123 non-null   int64
 3   DCP_drop_date                                3123 non-null   datetime64[ns]
 4   DCP_drop_status                              3123 non-null   object
 5   age_at_activation                            3123 non-null   float64
 6   dependents_at_activation                     3123 non-null   int64
 7   number_in_household_at_activation            3123 non-null   int64
 8   postal_prefix_at_activation                  3123 non-null   object
 9   city_at_activation                           3123 non-null   object
 10  province_at_activation                       3123 non-null   object
 11  asset_amount_owed_at_activation              3123 non-null   int64
 12  asset_value_at_activation                    3123 non-null   int64
 13  monthly_income_at_activation                 3123 non-null   float64
 14  monthly_expenses_at_activation               3123 non-null   float64
 15  DCP_debt_at_activation                       3123 non-null   int64
 16  DCP_debt_balance_at_activation               3123 non-null   float64
 17  has_payday_debt_on_DCP_at_activation         3123 non-null   int64
 18  payday_debt_balance_at_activation            3123 non-null   float64
 19  pmtstatus1                                   3123 non-null   float64
 20  pmtstatus2                                   3123 non-null   float64
 21  pmtstatus3                                   3123 non-null   float64
 22  pmtstatus4                                   3123 non-null   float64
 23  pmtstatus5                                   3123 non-null   float64
 24  pmtstatus6                                   3123 non-null   float64
 25  pmtstatus7                                   3123 non-null   float64
 26  pmtstatus8                                   3123 non-null   float64
 27  pmtstatus9                                   3123 non-null   float64
 28  pmtstatus10                                  3123 non-null   float64
 29  pmtstatus11                                  3123 non-null   float64
 30  pmtstatus12                                  3123 non-null   float64
 31  gender_Female                                3123 non-null   int32
 32  gender_Male                                  3123 non-null   int32
 33  gender_Other/Not Reported                    3123 non-null   int32
 34  marital status_Common Law/Domestic Partners  3123 non-null   int32
 35  marital status_Divorced                      3123 non-null   int32
 36  marital status_Married                       3123 non-null   int32
 37  marital status_Separated                     3123 non-null   int32
 38  marital status_Single                        3123 non-null   int32
 39  marital status_Widowed                       3123 non-null   int32
 40  housing_status_at_activation_binary          3123 non-null   int64
 41  emp_type_Retired                             3123 non-null   int32
 42  emp_type_Unemployed                          3123 non-null   int32
 43  emp_type_Working Full-Time                   3123 non-null   int32
 44  emp_type_Working Part-Time                   3123 non-null   int32
 45  asset_net_woth                               3123 non-null   int64
 46  expense_income_ratio                         3123 non-null   float64
 47  debt_income_ratio                            3123 non-null   float64
dtypes: datetime64[ns](3), float64(19), int32(13), int64(9), object(4)
memory usage: 1.0+ MB

In [24]:
#lets change all the date time features

#activation
df1['DCP_activation_date_year']=df1['DCP_activation_date'].dt.year
df1['DCP_activation_date_month']=df1['DCP_activation_date'].dt.month
df1['DCP_activation_date_day']=df1['DCP_activation_date'].dt.dayofweek

#start
df1['DCP_start_date_year']=df1['DCP_start_date'].dt.year
df1['DCP_start_date_month']=df1['DCP_start_date'].dt.month
df1['DCP_start_date_day']=df1['DCP_start_date'].dt.dayofweek

#end
df1['DCP_drop_date_year']=df1['DCP_drop_date'].dt.year
df1['DCP_drop_date_month']=df1['DCP_drop_date'].dt.month
df1['DCP_drop_date_day']=df1['DCP_drop_date'].dt.dayofweek


df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3123 entries, 67330 to 72246
Data columns (total 57 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   DCP_activation_date                          3123 non-null   datetime64[ns]
 1   DCP_start_date                               3123 non-null   datetime64[ns]
 2   duration_of_dcp                              3123 non-null   int64
 3   DCP_drop_date                                3123 non-null   datetime64[ns]
 4   DCP_drop_status                              3123 non-null   object
 5   age_at_activation                            3123 non-null   float64
 6   dependents_at_activation                     3123 non-null   int64
 7   number_in_household_at_activation            3123 non-null   int64
 8   postal_prefix_at_activation                  3123 non-null   object
 9   city_at_activation                           3123 non-null   object
 10  province_at_activation                       3123 non-null   object
 11  asset_amount_owed_at_activation              3123 non-null   int64
 12  asset_value_at_activation                    3123 non-null   int64
 13  monthly_income_at_activation                 3123 non-null   float64
 14  monthly_expenses_at_activation               3123 non-null   float64
 15  DCP_debt_at_activation                       3123 non-null   int64
 16  DCP_debt_balance_at_activation               3123 non-null   float64
 17  has_payday_debt_on_DCP_at_activation         3123 non-null   int64
 18  payday_debt_balance_at_activation            3123 non-null   float64
 19  pmtstatus1                                   3123 non-null   float64
 20  pmtstatus2                                   3123 non-null   float64
 21  pmtstatus3                                   3123 non-null   float64
 22  pmtstatus4                                   3123 non-null   float64
 23  pmtstatus5                                   3123 non-null   float64
 24  pmtstatus6                                   3123 non-null   float64
 25  pmtstatus7                                   3123 non-null   float64
 26  pmtstatus8                                   3123 non-null   float64
 27  pmtstatus9                                   3123 non-null   float64
 28  pmtstatus10                                  3123 non-null   float64
 29  pmtstatus11                                  3123 non-null   float64
 30  pmtstatus12                                  3123 non-null   float64
 31  gender_Female                                3123 non-null   int32
 32  gender_Male                                  3123 non-null   int32
 33  gender_Other/Not Reported                    3123 non-null   int32
 34  marital status_Common Law/Domestic Partners  3123 non-null   int32
 35  marital status_Divorced                      3123 non-null   int32
 36  marital status_Married                       3123 non-null   int32
 37  marital status_Separated                     3123 non-null   int32
 38  marital status_Single                        3123 non-null   int32
 39  marital status_Widowed                       3123 non-null   int32
 40  housing_status_at_activation_binary          3123 non-null   int64
 41  emp_type_Retired                             3123 non-null   int32
 42  emp_type_Unemployed                          3123 non-null   int32
 43  emp_type_Working Full-Time                   3123 non-null   int32
 44  emp_type_Working Part-Time                   3123 non-null   int32
 45  asset_net_woth                               3123 non-null   int64
 46  expense_income_ratio                         3123 non-null   float64
 47  debt_income_ratio                            3123 non-null   float64
 48  DCP_activation_date_year                     3123 non-null   int32
 49  DCP_activation_date_month                    3123 non-null   int32
 50  DCP_activation_date_day                      3123 non-null   int32
 51  DCP_start_date_year                          3123 non-null   int32
 52  DCP_start_date_month                         3123 non-null   int32
 53  DCP_start_date_day                           3123 non-null   int32
 54  DCP_drop_date_year                           3123 non-null   int32
 55  DCP_drop_date_month                          3123 non-null   int32
 56  DCP_drop_date_day                            3123 non-null   int32
dtypes: datetime64[ns](3), float64(19), int32(22), int64(9), object(4)
memory usage: 1.1+ MB

In [25]:
df1['activation_month_sin'] = np.sin(2 * np.pi * df1['DCP_activation_date_month'] / 12)
df1['activation_month_cos'] = np.cos(2 * np.pi * df1['DCP_activation_date_month'] / 12)
df1['activation_day_sin'] = np.sin(2 * np.pi * df1['DCP_activation_date_day'] / 7)
df1['activation_day_cos'] = np.cos(2 * np.pi * df1['DCP_activation_date_day'] / 7)

df1['start_month_sin'] = np.sin(2 * np.pi * df1['DCP_start_date_month'] / 12)
df1['start_month_cos'] = np.cos(2 * np.pi * df1['DCP_start_date_month'] / 12)
df1['start_day_sin'] = np.sin(2 * np.pi * df1['DCP_start_date_day'] / 7)
df1['start_day_cos'] = np.cos(2 * np.pi * df1['DCP_start_date_day'] / 7)

df1['drop_month_sin'] = np.sin(2 * np.pi * df1['DCP_drop_date_month'] / 12)
df1['drop_month_cos'] = np.cos(2 * np.pi * df1['DCP_drop_date_month'] / 12)
df1['drop_day_sin'] = np.sin(2 * np.pi * df1['DCP_drop_date_day'] / 7)
df1['drop_day_cos'] = np.cos(2 * np.pi * df1['DCP_drop_date_day'] / 7)

df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3123 entries, 67330 to 72246
Data columns (total 69 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   DCP_activation_date                          3123 non-null   datetime64[ns]
 1   DCP_start_date                               3123 non-null   datetime64[ns]
 2   duration_of_dcp                              3123 non-null   int64
 3   DCP_drop_date                                3123 non-null   datetime64[ns]
 4   DCP_drop_status                              3123 non-null   object
 5   age_at_activation                            3123 non-null   float64
 6   dependents_at_activation                     3123 non-null   int64
 7   number_in_household_at_activation            3123 non-null   int64
 8   postal_prefix_at_activation                  3123 non-null   object
 9   city_at_activation                           3123 non-null   object
 10  province_at_activation                       3123 non-null   object
 11  asset_amount_owed_at_activation              3123 non-null   int64
 12  asset_value_at_activation                    3123 non-null   int64
 13  monthly_income_at_activation                 3123 non-null   float64
 14  monthly_expenses_at_activation               3123 non-null   float64
 15  DCP_debt_at_activation                       3123 non-null   int64
 16  DCP_debt_balance_at_activation               3123 non-null   float64
 17  has_payday_debt_on_DCP_at_activation         3123 non-null   int64
 18  payday_debt_balance_at_activation            3123 non-null   float64
 19  pmtstatus1                                   3123 non-null   float64
 20  pmtstatus2                                   3123 non-null   float64
 21  pmtstatus3                                   3123 non-null   float64
 22  pmtstatus4                                   3123 non-null   float64
 23  pmtstatus5                                   3123 non-null   float64
 24  pmtstatus6                                   3123 non-null   float64
 25  pmtstatus7                                   3123 non-null   float64
 26  pmtstatus8                                   3123 non-null   float64
 27  pmtstatus9                                   3123 non-null   float64
 28  pmtstatus10                                  3123 non-null   float64
 29  pmtstatus11                                  3123 non-null   float64
 30  pmtstatus12                                  3123 non-null   float64
 31  gender_Female                                3123 non-null   int32
 32  gender_Male                                  3123 non-null   int32
 33  gender_Other/Not Reported                    3123 non-null   int32
 34  marital status_Common Law/Domestic Partners  3123 non-null   int32
 35  marital status_Divorced                      3123 non-null   int32
 36  marital status_Married                       3123 non-null   int32
 37  marital status_Separated                     3123 non-null   int32
 38  marital status_Single                        3123 non-null   int32
 39  marital status_Widowed                       3123 non-null   int32
 40  housing_status_at_activation_binary          3123 non-null   int64
 41  emp_type_Retired                             3123 non-null   int32
 42  emp_type_Unemployed                          3123 non-null   int32
 43  emp_type_Working Full-Time                   3123 non-null   int32
 44  emp_type_Working Part-Time                   3123 non-null   int32
 45  asset_net_woth                               3123 non-null   int64
 46  expense_income_ratio                         3123 non-null   float64
 47  debt_income_ratio                            3123 non-null   float64
 48  DCP_activation_date_year                     3123 non-null   int32
 49  DCP_activation_date_month                    3123 non-null   int32
 50  DCP_activation_date_day                      3123 non-null   int32
 51  DCP_start_date_year                          3123 non-null   int32
 52  DCP_start_date_month                         3123 non-null   int32
 53  DCP_start_date_day                           3123 non-null   int32
 54  DCP_drop_date_year                           3123 non-null   int32
 55  DCP_drop_date_month                          3123 non-null   int32
 56  DCP_drop_date_day                            3123 non-null   int32
 57  activation_month_sin                         3123 non-null   float64
 58  activation_month_cos                         3123 non-null   float64
 59  activation_day_sin                           3123 non-null   float64
 60  activation_day_cos                           3123 non-null   float64
 61  start_month_sin                              3123 non-null   float64
 62  start_month_cos                              3123 non-null   float64
 63  start_day_sin                                3123 non-null   float64
 64  start_day_cos                                3123 non-null   float64
 65  drop_month_sin                               3123 non-null   float64
 66  drop_month_cos                               3123 non-null   float64
 67  drop_day_sin                                 3123 non-null   float64
 68  drop_day_cos                                 3123 non-null   float64
dtypes: datetime64[ns](3), float64(31), int32(22), int64(9), object(4)
memory usage: 1.4+ MB

In [26]:
#drop raw dates
df1.drop(['DCP_activation_date','DCP_start_date','DCP_drop_date'],axis = 1,inplace=True)

In [27]:
#dropping the rest
#drop all objects except drop status for random forest
#df1 = df1.select_dtypes(exclude=['object'])

df1 = df1.drop(columns=['postal_prefix_at_activation','city_at_activation','province_at_activation'])

In [28]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3123 entries, 67330 to 72246
Data columns (total 63 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   duration_of_dcp                              3123 non-null   int64
 1   DCP_drop_status                              3123 non-null   object
 2   age_at_activation                            3123 non-null   float64
 3   dependents_at_activation                     3123 non-null   int64
 4   number_in_household_at_activation            3123 non-null   int64
 5   asset_amount_owed_at_activation              3123 non-null   int64
 6   asset_value_at_activation                    3123 non-null   int64
 7   monthly_income_at_activation                 3123 non-null   float64
 8   monthly_expenses_at_activation               3123 non-null   float64
 9   DCP_debt_at_activation                       3123 non-null   int64
 10  DCP_debt_balance_at_activation               3123 non-null   float64
 11  has_payday_debt_on_DCP_at_activation         3123 non-null   int64
 12  payday_debt_balance_at_activation            3123 non-null   float64
 13  pmtstatus1                                   3123 non-null   float64
 14  pmtstatus2                                   3123 non-null   float64
 15  pmtstatus3                                   3123 non-null   float64
 16  pmtstatus4                                   3123 non-null   float64
 17  pmtstatus5                                   3123 non-null   float64
 18  pmtstatus6                                   3123 non-null   float64
 19  pmtstatus7                                   3123 non-null   float64
 20  pmtstatus8                                   3123 non-null   float64
 21  pmtstatus9                                   3123 non-null   float64
 22  pmtstatus10                                  3123 non-null   float64
 23  pmtstatus11                                  3123 non-null   float64
 24  pmtstatus12                                  3123 non-null   float64
 25  gender_Female                                3123 non-null   int32
 26  gender_Male                                  3123 non-null   int32
 27  gender_Other/Not Reported                    3123 non-null   int32
 28  marital status_Common Law/Domestic Partners  3123 non-null   int32
 29  marital status_Divorced                      3123 non-null   int32
 30  marital status_Married                       3123 non-null   int32
 31  marital status_Separated                     3123 non-null   int32
 32  marital status_Single                        3123 non-null   int32
 33  marital status_Widowed                       3123 non-null   int32
 34  housing_status_at_activation_binary          3123 non-null   int64
 35  emp_type_Retired                             3123 non-null   int32
 36  emp_type_Unemployed                          3123 non-null   int32
 37  emp_type_Working Full-Time                   3123 non-null   int32
 38  emp_type_Working Part-Time                   3123 non-null   int32
 39  asset_net_woth                               3123 non-null   int64
 40  expense_income_ratio                         3123 non-null   float64
 41  debt_income_ratio                            3123 non-null   float64
 42  DCP_activation_date_year                     3123 non-null   int32
 43  DCP_activation_date_month                    3123 non-null   int32
 44  DCP_activation_date_day                      3123 non-null   int32
 45  DCP_start_date_year                          3123 non-null   int32
 46  DCP_start_date_month                         3123 non-null   int32
 47  DCP_start_date_day                           3123 non-null   int32
 48  DCP_drop_date_year                           3123 non-null   int32
 49  DCP_drop_date_month                          3123 non-null   int32
 50  DCP_drop_date_day                            3123 non-null   int32
 51  activation_month_sin                         3123 non-null   float64
 52  activation_month_cos                         3123 non-null   float64
 53  activation_day_sin                           3123 non-null   float64
 54  activation_day_cos                           3123 non-null   float64
 55  start_month_sin                              3123 non-null   float64
 56  start_month_cos                              3123 non-null   float64
 57  start_day_sin                                3123 non-null   float64
 58  start_day_cos                                3123 non-null   float64
 59  drop_month_sin                               3123 non-null   float64
 60  drop_month_cos                               3123 non-null   float64
 61  drop_day_sin                                 3123 non-null   float64
 62  drop_day_cos                                 3123 non-null   float64
dtypes: float64(31), int32(22), int64(9), object(1)
memory usage: 1.3+ MB

In [29]:
positive_inf_counts = df1.isin([np.inf]).sum().sort_values(ascending=False)
print("Number of +inf values sorted:\n", positive_inf_counts)

# Count -inf and order by greatest to least
negative_inf_counts = df1.isin([-np.inf]).sum().sort_values(ascending=False)
print("Number of -inf values sorted:\n", negative_inf_counts)

Number of +inf values sorted:
 expense_income_ratio                           1
debt_income_ratio                              1
duration_of_dcp                                0
DCP_start_date_day                             0
housing_status_at_activation_binary            0
                                              ..
gender_Male                                    0
gender_Other/Not Reported                      0
marital status_Common Law/Domestic Partners    0
marital status_Divorced                        0
drop_day_cos                                   0
Length: 63, dtype: int64
Number of -inf values sorted:
 duration_of_dcp                                0
DCP_start_date_day                             0
housing_status_at_activation_binary            0
emp_type_Retired                               0
emp_type_Unemployed                            0
                                              ..
gender_Male                                    0
gender_Other/Not Reported                      0
marital status_Common Law/Domestic Partners    0
marital status_Divorced                        0
drop_day_cos                                   0
Length: 63, dtype: int64

In [30]:
df1 = df1[~df1.isin([np.inf, -np.inf]).any(axis=1)]

# Check the result
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3122 entries, 67330 to 72246
Data columns (total 63 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   duration_of_dcp                              3122 non-null   int64
 1   DCP_drop_status                              3122 non-null   object
 2   age_at_activation                            3122 non-null   float64
 3   dependents_at_activation                     3122 non-null   int64
 4   number_in_household_at_activation            3122 non-null   int64
 5   asset_amount_owed_at_activation              3122 non-null   int64
 6   asset_value_at_activation                    3122 non-null   int64
 7   monthly_income_at_activation                 3122 non-null   float64
 8   monthly_expenses_at_activation               3122 non-null   float64
 9   DCP_debt_at_activation                       3122 non-null   int64
 10  DCP_debt_balance_at_activation               3122 non-null   float64
 11  has_payday_debt_on_DCP_at_activation         3122 non-null   int64
 12  payday_debt_balance_at_activation            3122 non-null   float64
 13  pmtstatus1                                   3122 non-null   float64
 14  pmtstatus2                                   3122 non-null   float64
 15  pmtstatus3                                   3122 non-null   float64
 16  pmtstatus4                                   3122 non-null   float64
 17  pmtstatus5                                   3122 non-null   float64
 18  pmtstatus6                                   3122 non-null   float64
 19  pmtstatus7                                   3122 non-null   float64
 20  pmtstatus8                                   3122 non-null   float64
 21  pmtstatus9                                   3122 non-null   float64
 22  pmtstatus10                                  3122 non-null   float64
 23  pmtstatus11                                  3122 non-null   float64
 24  pmtstatus12                                  3122 non-null   float64
 25  gender_Female                                3122 non-null   int32
 26  gender_Male                                  3122 non-null   int32
 27  gender_Other/Not Reported                    3122 non-null   int32
 28  marital status_Common Law/Domestic Partners  3122 non-null   int32
 29  marital status_Divorced                      3122 non-null   int32
 30  marital status_Married                       3122 non-null   int32
 31  marital status_Separated                     3122 non-null   int32
 32  marital status_Single                        3122 non-null   int32
 33  marital status_Widowed                       3122 non-null   int32
 34  housing_status_at_activation_binary          3122 non-null   int64
 35  emp_type_Retired                             3122 non-null   int32
 36  emp_type_Unemployed                          3122 non-null   int32
 37  emp_type_Working Full-Time                   3122 non-null   int32
 38  emp_type_Working Part-Time                   3122 non-null   int32
 39  asset_net_woth                               3122 non-null   int64
 40  expense_income_ratio                         3122 non-null   float64
 41  debt_income_ratio                            3122 non-null   float64
 42  DCP_activation_date_year                     3122 non-null   int32
 43  DCP_activation_date_month                    3122 non-null   int32
 44  DCP_activation_date_day                      3122 non-null   int32
 45  DCP_start_date_year                          3122 non-null   int32
 46  DCP_start_date_month                         3122 non-null   int32
 47  DCP_start_date_day                           3122 non-null   int32
 48  DCP_drop_date_year                           3122 non-null   int32
 49  DCP_drop_date_month                          3122 non-null   int32
 50  DCP_drop_date_day                            3122 non-null   int32
 51  activation_month_sin                         3122 non-null   float64
 52  activation_month_cos                         3122 non-null   float64
 53  activation_day_sin                           3122 non-null   float64
 54  activation_day_cos                           3122 non-null   float64
 55  start_month_sin                              3122 non-null   float64
 56  start_month_cos                              3122 non-null   float64
 57  start_day_sin                                3122 non-null   float64
 58  start_day_cos                                3122 non-null   float64
 59  drop_month_sin                               3122 non-null   float64
 60  drop_month_cos                               3122 non-null   float64
 61  drop_day_sin                                 3122 non-null   float64
 62  drop_day_cos                                 3122 non-null   float64
dtypes: float64(31), int32(22), int64(9), object(1)
memory usage: 1.3+ MB

In [31]:
file_path = '/Users/Jose Chua/OneDrive/Python/School Snek Work/831/Team_Project/cleaned3.xlsx'
df1.to_excel(file_path, index=False)
print(f"DataFrame saved at {file_path}")

DataFrame saved at /Users/Jose Chua/OneDrive/Python/School Snek Work/831/Team_Project/cleaned3.xlsx

In [32]:
#numerical_columns = df1.select_dtypes(include=['float64', 'int64']).columns
#from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Example using Min-Max Scaling
#scaler = MinMaxScaler()

# Scale only numerical columns
#df1[numerical_columns] = scaler.fit_transform(df1[numerical_columns])

#print(df1.head())  # Check the scaled DataFrame