In [16]:
import pandas as pd

In [17]:
df = pd.read_excel(r'C:\Users\Jose Chua\OneDrive\Python\School Snek Work\831\Team_Project\Credit Canada Data.xlsx',index_col=False,sheet_name='Dataset')

In [18]:
df.head(10)

,id,DCP_activation_date,DCP_start_date,duration_of_dcp,DCP_drop_date,DCP_drop_status,gender_at_activation,marital_status_at_activation,age_at_activation,dependents_at_activation,...,pmtstatus03,pmtstatus04,pmtstatus05,pmtstatus06,pmtstatus07,pmtstatus08,pmtstatus09,pmtstatus10,pmtstatus11,pmtstatus12
0,67330,2019-08-20,2019-08-30,48,2023-08-09,Successful Completion,Male,Married,59.0,0,...,zero,full,partial,zero,full,partial,partial,zero,partial,zero
1,69260,2020-10-15,2020-11-15,38,2024-01-25,Non Payment,Female,Separated,63.0,0,...,partial,partial,full,partial,partial,partial,partial,partial,partial,partial
2,72183,2022-03-21,2022-04-24,29,2024-09-20,Successful Completion,Female,Married,33.0,0,...,full,full,full,full,full,full,full,full,full,full
3,69494,2022-03-12,2022-04-24,22,2024-02-28,Non Payment,Male,Married,36.0,3,...,partial,zero,zero,partial,partial,partial,partial,partial,partial,partial
4,67603,2023-02-02,2023-02-24,8,2023-10-05,Non Payment,Female,Single,39.0,3,...,zero,zero,zero,zero,zero,zero,NaN,NaN,NaN,NaN
5,71584,2021-04-23,2021-05-20,36,2024-05-25,Successful Completion,Male,Married,33.0,0,...,zero,full,full,full,full,full,full,full,full,full
6,72370,2024-04-01,2024-04-24,6,2024-10-18,Non Payment,Female,Separated,45.0,1,...,zero,zero,zero,zero,NaN,NaN,NaN,NaN,NaN,NaN
7,69289,2023-05-23,2023-07-24,6,2024-01-30,Non Payment,Female,Married,32.0,0,...,zero,zero,zero,zero,NaN,NaN,NaN,NaN,NaN,NaN
8,67630,2019-10-31,2019-10-08,48,2023-10-11,Non Payment,Female,Widowed,73.0,0,...,full,full,full,full,full,full,full,full,full,full
9,67308,2019-10-31,2019-11-14,45,2023-08-03,Non Payment,Female,Married,38.0,2,...,full,zero,full,full,zero,full,zero,full,zero,full

In [19]:
df.dtypes

id                                               int64
DCP_activation_date                     datetime64[ns]
DCP_start_date                          datetime64[ns]
duration_of_dcp                                  int64
DCP_drop_date                           datetime64[ns]
DCP_drop_status                                 object
gender_at_activation                            object
marital_status_at_activation                    object
age_at_activation                              float64
dependents_at_activation                         int64
number_in_household_at_activation                int64
housing_status_at_activation                    object
employment_status_at_activation                 object
occupation_at_activation                        object
postal_prefix_at_activation                     object
city_at_activation                              object
province_at_activation                          object
reason_for_DCP_at_activation                    object
asset_amount_owed_at_activation                  int64
asset_value_at_activation                        int64
monthly_income_at_activation                   float64
monthly_expenses_at_activation                 float64
DCP_debt_at_activation                           int64
DCP_debt_balance_at_activation                 float64
has_payday_debt_on_DCP_at_activation             int64
payday_debt_balance_at_activation              float64
pmtstatus01                                     object
pmtstatus02                                     object
pmtstatus03                                     object
pmtstatus04                                     object
pmtstatus05                                     object
pmtstatus06                                     object
pmtstatus07                                     object
pmtstatus08                                     object
pmtstatus09                                     object
pmtstatus10                                     object
pmtstatus11                                     object
pmtstatus12                                     object
dtype: object

In [20]:
#renaming geatures ex. 01 ->1, 02 -> 2, etc...
df.rename(columns={
'pmtstatus01':'pmtstatus1',
'pmtstatus02':'pmtstatus2',
'pmtstatus03':'pmtstatus3',
'pmtstatus04':'pmtstatus4',
'pmtstatus05':'pmtstatus5',
'pmtstatus06':'pmtstatus6',
'pmtstatus07':'pmtstatus7',
'pmtstatus08':'pmtstatus8',
'pmtstatus09':'pmtstatus9'},
inplace = True
)

In [21]:
df.head(10)

,id,DCP_activation_date,DCP_start_date,duration_of_dcp,DCP_drop_date,DCP_drop_status,gender_at_activation,marital_status_at_activation,age_at_activation,dependents_at_activation,...,pmtstatus3,pmtstatus4,pmtstatus5,pmtstatus6,pmtstatus7,pmtstatus8,pmtstatus9,pmtstatus10,pmtstatus11,pmtstatus12
0,67330,2019-08-20,2019-08-30,48,2023-08-09,Successful Completion,Male,Married,59.0,0,...,zero,full,partial,zero,full,partial,partial,zero,partial,zero
1,69260,2020-10-15,2020-11-15,38,2024-01-25,Non Payment,Female,Separated,63.0,0,...,partial,partial,full,partial,partial,partial,partial,partial,partial,partial
2,72183,2022-03-21,2022-04-24,29,2024-09-20,Successful Completion,Female,Married,33.0,0,...,full,full,full,full,full,full,full,full,full,full
3,69494,2022-03-12,2022-04-24,22,2024-02-28,Non Payment,Male,Married,36.0,3,...,partial,zero,zero,partial,partial,partial,partial,partial,partial,partial
4,67603,2023-02-02,2023-02-24,8,2023-10-05,Non Payment,Female,Single,39.0,3,...,zero,zero,zero,zero,zero,zero,NaN,NaN,NaN,NaN
5,71584,2021-04-23,2021-05-20,36,2024-05-25,Successful Completion,Male,Married,33.0,0,...,zero,full,full,full,full,full,full,full,full,full
6,72370,2024-04-01,2024-04-24,6,2024-10-18,Non Payment,Female,Separated,45.0,1,...,zero,zero,zero,zero,NaN,NaN,NaN,NaN,NaN,NaN
7,69289,2023-05-23,2023-07-24,6,2024-01-30,Non Payment,Female,Married,32.0,0,...,zero,zero,zero,zero,NaN,NaN,NaN,NaN,NaN,NaN
8,67630,2019-10-31,2019-10-08,48,2023-10-11,Non Payment,Female,Widowed,73.0,0,...,full,full,full,full,full,full,full,full,full,full
9,67308,2019-10-31,2019-11-14,45,2023-08-03,Non Payment,Female,Married,38.0,2,...,full,zero,full,full,zero,full,zero,full,zero,full

In [22]:
# Define a mapping dictionary
pmt_status_mapping = {
    'zero': 0,
    'partial': 1,
    'full': 2
}
# Apply mapping to each payment status column
for i in range(1, 13):
    column_name = f'pmtstatus{i}'
    if column_name in df.columns:
        df[column_name] = df[column_name].map(pmt_status_mapping)
# View the converted DataFrame
df.head(10)

,id,DCP_activation_date,DCP_start_date,duration_of_dcp,DCP_drop_date,DCP_drop_status,gender_at_activation,marital_status_at_activation,age_at_activation,dependents_at_activation,...,pmtstatus3,pmtstatus4,pmtstatus5,pmtstatus6,pmtstatus7,pmtstatus8,pmtstatus9,pmtstatus10,pmtstatus11,pmtstatus12
0,67330,2019-08-20,2019-08-30,48,2023-08-09,Successful Completion,Male,Married,59.0,0,...,0.0,2.0,1.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0
1,69260,2020-10-15,2020-11-15,38,2024-01-25,Non Payment,Female,Separated,63.0,0,...,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,72183,2022-03-21,2022-04-24,29,2024-09-20,Successful Completion,Female,Married,33.0,0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,69494,2022-03-12,2022-04-24,22,2024-02-28,Non Payment,Male,Married,36.0,3,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,67603,2023-02-02,2023-02-24,8,2023-10-05,Non Payment,Female,Single,39.0,3,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
5,71584,2021-04-23,2021-05-20,36,2024-05-25,Successful Completion,Male,Married,33.0,0,...,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
6,72370,2024-04-01,2024-04-24,6,2024-10-18,Non Payment,Female,Separated,45.0,1,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7,69289,2023-05-23,2023-07-24,6,2024-01-30,Non Payment,Female,Married,32.0,0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
8,67630,2019-10-31,2019-10-08,48,2023-10-11,Non Payment,Female,Widowed,73.0,0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
9,67308,2019-10-31,2019-11-14,45,2023-08-03,Non Payment,Female,Married,38.0,2,...,2.0,0.0,2.0,2.0,0.0,2.0,0.0,2.0,0.0,2.0

In [23]:
#changing ownership to binary
ownership_mapping = {
    'Own': 1,
    'Rent': 0
}

# Apply the mapping to the 'ownership' column
df['housing_status_at_activation_binary'] = df['housing_status_at_activation'].map(ownership_mapping)

# View the updated DataFrame
print(df['housing_status_at_activation_binary'].head(10))

0    0
1    1
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: housing_status_at_activation_binary, dtype: int64

In [24]:
df.columns

Index(['id', 'DCP_activation_date', 'DCP_start_date', 'duration_of_dcp',
       'DCP_drop_date', 'DCP_drop_status', 'gender_at_activation',
       'marital_status_at_activation', 'age_at_activation',
       'dependents_at_activation', 'number_in_household_at_activation',
       'housing_status_at_activation', 'employment_status_at_activation',
       'occupation_at_activation', 'postal_prefix_at_activation',
       'city_at_activation', 'province_at_activation',
       'reason_for_DCP_at_activation', 'asset_amount_owed_at_activation',
       'asset_value_at_activation', 'monthly_income_at_activation',
       'monthly_expenses_at_activation', 'DCP_debt_at_activation',
       'DCP_debt_balance_at_activation',
       'has_payday_debt_on_DCP_at_activation',
       'payday_debt_balance_at_activation', 'pmtstatus1', 'pmtstatus2',
       'pmtstatus3', 'pmtstatus4', 'pmtstatus5', 'pmtstatus6', 'pmtstatus7',
       'pmtstatus8', 'pmtstatus9', 'pmtstatus10', 'pmtstatus11', 'pmtstatus12',
       'housing_status_at_activation_binary'],
      dtype='object')

In [25]:
#new column
new_column = df['housing_status_at_activation_binary']

#column we are replacing
column_to_replace = 'housing_status_at_activation'

# Find the index of the column to replace
col_index = df.columns.get_loc(column_to_replace)

# Drop the old column
df.drop(columns=[column_to_replace], inplace=True)

# Insert the new column at the same index
df.insert(col_index, column_to_replace, new_column)

# View the updated DataFrame
print(df)

         id DCP_activation_date DCP_start_date  duration_of_dcp DCP_drop_date  \
0     67330          2019-08-20     2019-08-30               48    2023-08-09
1     69260          2020-10-15     2020-11-15               38    2024-01-25
2     72183          2022-03-21     2022-04-24               29    2024-09-20
3     69494          2022-03-12     2022-04-24               22    2024-02-28
4     67603          2023-02-02     2023-02-24                8    2023-10-05
...     ...                 ...            ...              ...           ...
3207  72378          2024-07-26     2024-09-24                1    2024-10-21
3208  72071          2024-07-31     2024-08-24                1    2024-09-03
3209  72383          2024-08-20     2024-09-24                1    2024-10-22
3210  72344          2024-08-14     2024-09-24                1    2024-10-17
3211  72246          2024-08-23     2024-09-24                1    2024-10-02

            DCP_drop_status gender_at_activation marital_status_at_activation  \
0     Successful Completion                 Male                      Married
1               Non Payment               Female                    Separated
2     Successful Completion               Female                      Married
3               Non Payment                 Male                      Married
4               Non Payment               Female                       Single
...                     ...                  ...                          ...
3207      Consumer Proposal                 Male                       Single
3208      Consumer Proposal               Female                    Separated
3209    Self Administration                 Male                       Single
3210      Consumer Proposal                 Male                       Single
3211    Self Administration                 Male                       Single

      age_at_activation  dependents_at_activation  ...  pmtstatus4  \
0                  59.0                         0  ...         2.0
1                  63.0                         0  ...         1.0
2                  33.0                         0  ...         2.0
3                  36.0                         3  ...         0.0
4                  39.0                         3  ...         0.0
...                 ...                       ...  ...         ...
3207               45.0                         3  ...         NaN
3208               63.0                         0  ...         NaN
3209               28.0                         0  ...         NaN
3210               31.0                         0  ...         NaN
3211               28.0                         0  ...         NaN

      pmtstatus5 pmtstatus6 pmtstatus7 pmtstatus8 pmtstatus9 pmtstatus10  \
0            1.0        0.0        2.0        1.0        1.0         0.0
1            2.0        1.0        1.0        1.0        1.0         1.0
2            2.0        2.0        2.0        2.0        2.0         2.0
3            0.0        1.0        1.0        1.0        1.0         1.0
4            0.0        0.0        0.0        0.0        NaN         NaN
...          ...        ...        ...        ...        ...         ...
3207         NaN        NaN        NaN        NaN        NaN         NaN
3208         NaN        NaN        NaN        NaN        NaN         NaN
3209         NaN        NaN        NaN        NaN        NaN         NaN
3210         NaN        NaN        NaN        NaN        NaN         NaN
3211         NaN        NaN        NaN        NaN        NaN         NaN

     pmtstatus11  pmtstatus12  housing_status_at_activation_binary
0            1.0          0.0                                    0
1            1.0          1.0                                    1
2            2.0          2.0                                    0
3            1.0          1.0                                    0
4            NaN          NaN                                    0
...          ...          ...                                  ...
3207         NaN          NaN                                    0
3208         NaN          NaN                                    0
3209         NaN          NaN                                    0
3210         NaN          NaN                                    0
3211         NaN          NaN                                    0

[3212 rows x 39 columns]

In [26]:
df.columns

Index(['id', 'DCP_activation_date', 'DCP_start_date', 'duration_of_dcp',
       'DCP_drop_date', 'DCP_drop_status', 'gender_at_activation',
       'marital_status_at_activation', 'age_at_activation',
       'dependents_at_activation', 'number_in_household_at_activation',
       'housing_status_at_activation', 'employment_status_at_activation',
       'occupation_at_activation', 'postal_prefix_at_activation',
       'city_at_activation', 'province_at_activation',
       'reason_for_DCP_at_activation', 'asset_amount_owed_at_activation',
       'asset_value_at_activation', 'monthly_income_at_activation',
       'monthly_expenses_at_activation', 'DCP_debt_at_activation',
       'DCP_debt_balance_at_activation',
       'has_payday_debt_on_DCP_at_activation',
       'payday_debt_balance_at_activation', 'pmtstatus1', 'pmtstatus2',
       'pmtstatus3', 'pmtstatus4', 'pmtstatus5', 'pmtstatus6', 'pmtstatus7',
       'pmtstatus8', 'pmtstatus9', 'pmtstatus10', 'pmtstatus11', 'pmtstatus12',
       'housing_status_at_activation_binary'],
      dtype='object')

In [27]:
print(df['housing_status_at_activation'].head(10))

0    0
1    1
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: housing_status_at_activation, dtype: int64

In [28]:
# Dropping a single column
df.drop('housing_status_at_activation_binary', axis=1, inplace=True)

In [29]:
#changing gender to binary 

gender_mapping = {
    'Male': 1,
    'Female': 0
}

#applying the mapping

df['gender_at_activation'] = df['gender_at_activation'].map(gender_mapping)

In [30]:
df.head(10)

,id,DCP_activation_date,DCP_start_date,duration_of_dcp,DCP_drop_date,DCP_drop_status,gender_at_activation,marital_status_at_activation,age_at_activation,dependents_at_activation,...,pmtstatus3,pmtstatus4,pmtstatus5,pmtstatus6,pmtstatus7,pmtstatus8,pmtstatus9,pmtstatus10,pmtstatus11,pmtstatus12
0,67330,2019-08-20,2019-08-30,48,2023-08-09,Successful Completion,1.0,Married,59.0,0,...,0.0,2.0,1.0,0.0,2.0,1.0,1.0,0.0,1.0,0.0
1,69260,2020-10-15,2020-11-15,38,2024-01-25,Non Payment,0.0,Separated,63.0,0,...,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,72183,2022-03-21,2022-04-24,29,2024-09-20,Successful Completion,0.0,Married,33.0,0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,69494,2022-03-12,2022-04-24,22,2024-02-28,Non Payment,1.0,Married,36.0,3,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,67603,2023-02-02,2023-02-24,8,2023-10-05,Non Payment,0.0,Single,39.0,3,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
5,71584,2021-04-23,2021-05-20,36,2024-05-25,Successful Completion,1.0,Married,33.0,0,...,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
6,72370,2024-04-01,2024-04-24,6,2024-10-18,Non Payment,0.0,Separated,45.0,1,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7,69289,2023-05-23,2023-07-24,6,2024-01-30,Non Payment,0.0,Married,32.0,0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
8,67630,2019-10-31,2019-10-08,48,2023-10-11,Non Payment,0.0,Widowed,73.0,0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
9,67308,2019-10-31,2019-11-14,45,2023-08-03,Non Payment,0.0,Married,38.0,2,...,2.0,0.0,2.0,2.0,0.0,2.0,0.0,2.0,0.0,2.0

In [31]:
#"Single", "Divorced", "Common Law/Domestic Partner", "Married", "Widowed"
#no ordinality so we're going to use one hot encoding 

df = pd.get_dummies(df, columns=['marital_status_at_activation'], prefix='marital')

# View the updated DataFrame
print(df)

         id DCP_activation_date DCP_start_date  duration_of_dcp DCP_drop_date  \
0     67330          2019-08-20     2019-08-30               48    2023-08-09
1     69260          2020-10-15     2020-11-15               38    2024-01-25
2     72183          2022-03-21     2022-04-24               29    2024-09-20
3     69494          2022-03-12     2022-04-24               22    2024-02-28
4     67603          2023-02-02     2023-02-24                8    2023-10-05
...     ...                 ...            ...              ...           ...
3207  72378          2024-07-26     2024-09-24                1    2024-10-21
3208  72071          2024-07-31     2024-08-24                1    2024-09-03
3209  72383          2024-08-20     2024-09-24                1    2024-10-22
3210  72344          2024-08-14     2024-09-24                1    2024-10-17
3211  72246          2024-08-23     2024-09-24                1    2024-10-02

            DCP_drop_status  gender_at_activation  age_at_activation  \
0     Successful Completion                   1.0               59.0
1               Non Payment                   0.0               63.0
2     Successful Completion                   0.0               33.0
3               Non Payment                   1.0               36.0
4               Non Payment                   0.0               39.0
...                     ...                   ...                ...
3207      Consumer Proposal                   1.0               45.0
3208      Consumer Proposal                   0.0               63.0
3209    Self Administration                   1.0               28.0
3210      Consumer Proposal                   1.0               31.0
3211    Self Administration                   1.0               28.0

      dependents_at_activation  number_in_household_at_activation  ...  \
0                            0                                  2  ...
1                            0                                  1  ...
2                            0                                  2  ...
3                            3                                  5  ...
4                            3                                  4  ...
...                        ...                                ...  ...
3207                         3                                  4  ...
3208                         0                                  2  ...
3209                         0                                  1  ...
3210                         0                                  1  ...
3211                         0                                  2  ...

      pmtstatus9 pmtstatus10 pmtstatus11 pmtstatus12  \
0            1.0         0.0         1.0         0.0
1            1.0         1.0         1.0         1.0
2            2.0         2.0         2.0         2.0
3            1.0         1.0         1.0         1.0
4            NaN         NaN         NaN         NaN
...          ...         ...         ...         ...
3207         NaN         NaN         NaN         NaN
3208         NaN         NaN         NaN         NaN
3209         NaN         NaN         NaN         NaN
3210         NaN         NaN         NaN         NaN
3211         NaN         NaN         NaN         NaN

     marital_Common Law/Domestic Partners marital_Divorced marital_Married  \
0                                   False            False            True
1                                   False            False           False
2                                   False            False            True
3                                   False            False            True
4                                   False            False           False
...                                   ...              ...             ...
3207                                False            False           False
3208                                False            False           False
3209                                False            False           False
3210                                False            False           False
3211                                False            False           False

      marital_Separated  marital_Single  marital_Widowed
0                 False           False            False
1                  True           False            False
2                 False           False            False
3                 False           False            False
4                 False            True            False
...                 ...             ...              ...
3207              False            True            False
3208               True           False            False
3209              False            True            False
3210              False            True            False
3211              False            True            False

[3212 rows x 43 columns]

In [32]:
df.head(10)

,id,DCP_activation_date,DCP_start_date,duration_of_dcp,DCP_drop_date,DCP_drop_status,gender_at_activation,age_at_activation,dependents_at_activation,number_in_household_at_activation,...,pmtstatus9,pmtstatus10,pmtstatus11,pmtstatus12,marital_Common Law/Domestic Partners,marital_Divorced,marital_Married,marital_Separated,marital_Single,marital_Widowed
0,67330,2019-08-20,2019-08-30,48,2023-08-09,Successful Completion,1.0,59.0,0,2,...,1.0,0.0,1.0,0.0,False,False,True,False,False,False
1,69260,2020-10-15,2020-11-15,38,2024-01-25,Non Payment,0.0,63.0,0,1,...,1.0,1.0,1.0,1.0,False,False,False,True,False,False
2,72183,2022-03-21,2022-04-24,29,2024-09-20,Successful Completion,0.0,33.0,0,2,...,2.0,2.0,2.0,2.0,False,False,True,False,False,False
3,69494,2022-03-12,2022-04-24,22,2024-02-28,Non Payment,1.0,36.0,3,5,...,1.0,1.0,1.0,1.0,False,False,True,False,False,False
4,67603,2023-02-02,2023-02-24,8,2023-10-05,Non Payment,0.0,39.0,3,4,...,NaN,NaN,NaN,NaN,False,False,False,False,True,False
5,71584,2021-04-23,2021-05-20,36,2024-05-25,Successful Completion,1.0,33.0,0,2,...,2.0,2.0,2.0,2.0,False,False,True,False,False,False
6,72370,2024-04-01,2024-04-24,6,2024-10-18,Non Payment,0.0,45.0,1,3,...,NaN,NaN,NaN,NaN,False,False,False,True,False,False
7,69289,2023-05-23,2023-07-24,6,2024-01-30,Non Payment,0.0,32.0,0,1,...,NaN,NaN,NaN,NaN,False,False,True,False,False,False
8,67630,2019-10-31,2019-10-08,48,2023-10-11,Non Payment,0.0,73.0,0,1,...,2.0,2.0,2.0,2.0,False,False,False,False,False,True
9,67308,2019-10-31,2019-11-14,45,2023-08-03,Non Payment,0.0,38.0,2,4,...,0.0,2.0,0.0,2.0,False,False,True,False,False,False

In [33]:
df[df.select_dtypes(include='bool').columns] = df.select_dtypes(include='bool').astype(int)
df.dtypes

id                                               int64
DCP_activation_date                     datetime64[ns]
DCP_start_date                          datetime64[ns]
duration_of_dcp                                  int64
DCP_drop_date                           datetime64[ns]
DCP_drop_status                                 object
gender_at_activation                           float64
age_at_activation                              float64
dependents_at_activation                         int64
number_in_household_at_activation                int64
housing_status_at_activation                     int64
employment_status_at_activation                 object
occupation_at_activation                        object
postal_prefix_at_activation                     object
city_at_activation                              object
province_at_activation                          object
reason_for_DCP_at_activation                    object
asset_amount_owed_at_activation                  int64
asset_value_at_activation                        int64
monthly_income_at_activation                   float64
monthly_expenses_at_activation                 float64
DCP_debt_at_activation                           int64
DCP_debt_balance_at_activation                 float64
has_payday_debt_on_DCP_at_activation             int64
payday_debt_balance_at_activation              float64
pmtstatus1                                     float64
pmtstatus2                                     float64
pmtstatus3                                     float64
pmtstatus4                                     float64
pmtstatus5                                     float64
pmtstatus6                                     float64
pmtstatus7                                     float64
pmtstatus8                                     float64
pmtstatus9                                     float64
pmtstatus10                                    float64
pmtstatus11                                    float64
pmtstatus12                                    float64
marital_Common Law/Domestic Partners             int32
marital_Divorced                                 int32
marital_Married                                  int32
marital_Separated                                int32
marital_Single                                   int32
marital_Widowed                                  int32
dtype: object

In [34]:
df.head(10)

,id,DCP_activation_date,DCP_start_date,duration_of_dcp,DCP_drop_date,DCP_drop_status,gender_at_activation,age_at_activation,dependents_at_activation,number_in_household_at_activation,...,pmtstatus9,pmtstatus10,pmtstatus11,pmtstatus12,marital_Common Law/Domestic Partners,marital_Divorced,marital_Married,marital_Separated,marital_Single,marital_Widowed
0,67330,2019-08-20,2019-08-30,48,2023-08-09,Successful Completion,1.0,59.0,0,2,...,1.0,0.0,1.0,0.0,0,0,1,0,0,0
1,69260,2020-10-15,2020-11-15,38,2024-01-25,Non Payment,0.0,63.0,0,1,...,1.0,1.0,1.0,1.0,0,0,0,1,0,0
2,72183,2022-03-21,2022-04-24,29,2024-09-20,Successful Completion,0.0,33.0,0,2,...,2.0,2.0,2.0,2.0,0,0,1,0,0,0
3,69494,2022-03-12,2022-04-24,22,2024-02-28,Non Payment,1.0,36.0,3,5,...,1.0,1.0,1.0,1.0,0,0,1,0,0,0
4,67603,2023-02-02,2023-02-24,8,2023-10-05,Non Payment,0.0,39.0,3,4,...,NaN,NaN,NaN,NaN,0,0,0,0,1,0
5,71584,2021-04-23,2021-05-20,36,2024-05-25,Successful Completion,1.0,33.0,0,2,...,2.0,2.0,2.0,2.0,0,0,1,0,0,0
6,72370,2024-04-01,2024-04-24,6,2024-10-18,Non Payment,0.0,45.0,1,3,...,NaN,NaN,NaN,NaN,0,0,0,1,0,0
7,69289,2023-05-23,2023-07-24,6,2024-01-30,Non Payment,0.0,32.0,0,1,...,NaN,NaN,NaN,NaN,0,0,1,0,0,0
8,67630,2019-10-31,2019-10-08,48,2023-10-11,Non Payment,0.0,73.0,0,1,...,2.0,2.0,2.0,2.0,0,0,0,0,0,1
9,67308,2019-10-31,2019-11-14,45,2023-08-03,Non Payment,0.0,38.0,2,4,...,0.0,2.0,0.0,2.0,0,0,1,0,0,0

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re
import nltk

ModuleNotFoundError: No module named 'nltk'

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re
import nltk

# Define a function to clean text
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)
    # Remove stop words
    stop_words = set(stopwords.words('english'))
    text = " ".join(word for word in text.split() if word not in stop_words)
    # Lemmatize words
    lemmatizer = WordNetLemmatizer()
    text = " ".join(lemmatizer.lemmatize(word) for word in text.split())
    return text

# Apply preprocessing to the "reason_for_DCP_at_activation" column
df['cleaned_reason_for_DCP_at_activation'] = df['reason_for_DCP_at_activation'].apply(preprocess_text)

# Initialize the TF-IDF vectorizer
tfidf = TfidfVectorizer(max_features=100)  # Adjust max_features as needed based on your data

# Transform the cleaned text data into TF-IDF features
tfidf_matrix = tfidf.fit_transform(df['cleaned_reason_for_DCP_at_activation'])

# Convert TF-IDF features into a DataFrame
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf.get_feature_names_out())

# Concatenate TF-IDF features with the original DataFrame
df = pd.concat([df, tfidf_df], axis=1)

# View the updated DataFrame
# Apply preprocessing to the "reason_for_DCP_at_activation" column
df['cleaned_reason_for_DCP_at_activation'] = df['reason_for_DCP_at_activation'].apply(preprocess_text)

# Initialize the TF-IDF vectorizer
tfidf = TfidfVectorizer(max_features=100)  # Adjust max_features as needed based on your data

# Transform the cleaned text data into TF-IDF features
tfidf_matrix = tfidf.fit_transform(df['cleaned_reason_for_DCP_at_activation'])

# Convert TF-IDF features into a DataFrame
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf.get_feature_names_out())

# Concatenate TF-IDF features with the original DataFrame
df = pd.concat([df, tfidf_df], axis=1)

# View the updated DataFrame
print(df['reason_for_DCP_at_activation'].head())

ModuleNotFoundError: No module named 'nltk'