In [1]:
import pandas as pd
import numpy as np

In [2]:
df_fin_ratio = pd.read_excel('Project_Work/823_analytics_for_financial_markets/Financial Ratios Data 2003_2023x.xlsm',header=1)
df_stock_return  = pd.read_excel('Project_Work\823_analytics_for_financial_markets\Stock_Return_Data2023Fwd.xlsx')
df_sector_info = pd.read_excel('Project_Work\823_analytics_for_financial_markets\Sector Information.xlsm')

In [3]:
df_fin_ratio.head(10)

,gvkey,permno,adate,qdate,public_date,TICKER,year,month,PERMNO-YearMonth,CAPEI,...,rect_turn,pay_turn,sale_invcap,sale_equity,sale_nwc,rd_sale,adv_sale,staff_sale,accrual,ptb
0,12142,10104,2002-05-31,2002-11-30,2003-01-31,ORCL,2003,1,10104-20031,23.713,...,5.178,8.674,1.537,1.619,2.102,0.122,0.014,0.0,-0.112,11.595
1,12142,10104,2002-05-31,2002-11-30,2003-02-28,ORCL,2003,2,10104-20032,23.454,...,5.178,8.674,1.537,1.619,2.102,0.122,0.014,0.0,-0.112,11.468
2,12142,10104,2002-05-31,2002-11-30,2003-03-31,ORCL,2003,3,10104-20033,21.279,...,5.178,8.674,1.537,1.619,2.102,0.122,0.014,0.0,-0.112,10.404
3,12142,10104,2002-05-31,2003-02-28,2003-04-30,ORCL,2003,4,10104-20034,22.734,...,5.195,8.747,1.581,1.657,2.118,0.124,0.014,0.0,-0.115,10.816
4,12142,10104,2002-05-31,2003-02-28,2003-05-31,ORCL,2003,5,10104-20035,24.849,...,5.195,8.747,1.581,1.657,2.118,0.124,0.014,0.0,-0.115,11.822
5,12142,10104,2002-05-31,2003-02-28,2003-06-30,ORCL,2003,6,10104-20036,22.942,...,5.195,8.747,1.581,1.657,2.118,0.124,0.014,0.0,-0.115,10.915
6,12142,10104,2003-05-31,2003-05-31,2003-07-31,ORCL,2003,7,10104-20037,21.376,...,4.165,8.838,1.459,1.499,1.869,0.125,0.011,0.0,-0.065,9.645
7,12142,10104,2003-05-31,2003-05-31,2003-08-31,ORCL,2003,8,10104-20038,22.830,...,4.165,8.838,1.459,1.499,1.869,0.125,0.011,0.0,-0.065,10.302
8,12142,10104,2003-05-31,2003-05-31,2003-09-30,ORCL,2003,9,10104-20039,20.029,...,4.165,8.838,1.459,1.499,1.869,0.125,0.011,0.0,-0.065,9.038
9,12142,10104,2003-05-31,2003-08-31,2003-10-31,ORCL,2003,10,10104-200310,21.688,...,5.345,9.022,1.553,1.606,2.031,0.125,0.011,0.0,-0.062,9.405

In [4]:
df_stock_return.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120411 entries, 0 to 120410
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   PERMNO               120411 non-null  int64
 1   date                 120411 non-null  datetime64[ns]
 2   YEAR                 120411 non-null  int64
 3   MONTH                120411 non-null  int64
 4   SIC Industry Code    120411 non-null  int64
 5   TICKER               120394 non-null  object
 6   COMNAM               120411 non-null  object
 7   Price Index          120411 non-null  float64
 8   Unnamed: 8           0 non-null       float64
 9   Past 1-Month Ret     120411 non-null  object
 10  Past 3-Month Ret     118503 non-null  float64
 11  Past 6-Month Ret     116616 non-null  float64
 12  Past 12-Month Ret    112878 non-null  float64
 13  Forward 1-Month Ret  119774 non-null  object
 14  Forward 3-Month Ret  118503 non-null  float64
 15  Forward 6-Month Ret  112260 non-null  float64
 16  PERMNO_DATE_LABEL    120411 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(4), object(5)
memory usage: 15.6+ MB

In [5]:
df_fin_ratio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110001 entries, 0 to 110000
Data columns (total 75 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   gvkey             110001 non-null  int64
 1   permno            110001 non-null  int64
 2   adate             109860 non-null  datetime64[ns]
 3   qdate             110001 non-null  datetime64[ns]
 4   public_date       110001 non-null  datetime64[ns]
 5   TICKER            109926 non-null  object
 6   year              110001 non-null  int64
 7   month             110001 non-null  int64
 8   PERMNO-YearMonth  110001 non-null  object
 9   CAPEI             109365 non-null  float64
 10  bm                106933 non-null  float64
 11  evm               109471 non-null  float64
 12  pe_op_basic       109396 non-null  float64
 13  pe_op_dil         109381 non-null  float64
 14  pe_exi            109382 non-null  float64
 15  pe_inc            109394 non-null  float64
 16  ps                109856 non-null  float64
 17  pcf               109735 non-null  float64
 18  npm               109856 non-null  float64
 19  opmbd             109856 non-null  float64
 20  opmad             109856 non-null  float64
 21  gpm               109832 non-null  float64
 22  ptpm              109856 non-null  float64
 23  cfm               109299 non-null  float64
 24  roa               109744 non-null  float64
 25  roe               106814 non-null  float64
 26  roce              109441 non-null  float64
 27  efftax            98321 non-null   float64
 28  aftret_eq         109750 non-null  float64
 29  aftret_invcapx    108631 non-null  float64
 30  aftret_equity     109750 non-null  float64
 31  pretret_noa       95223 non-null   float64
 32  pretret_earnat    95223 non-null   float64
 33  GProf             109888 non-null  float64
 34  equity_invcap     109682 non-null  float64
 35  debt_invcap       109457 non-null  float64
 36  totdebt_invcap    109427 non-null  float64
 37  capital_ratio     109672 non-null  float64
 38  int_debt          97424 non-null   float64
 39  int_totdebt       98064 non-null   float64
 40  cash_lt           109840 non-null  float64
 41  invt_act          94055 non-null   float64
 42  rect_act          95365 non-null   float64
 43  debt_at           109642 non-null  float64
 44  debt_ebitda       109216 non-null  float64
 45  short_debt        105436 non-null  float64
 46  curr_debt         95458 non-null   float64
 47  lt_debt           109672 non-null  float64
 48  profit_lct        95511 non-null   float64
 49  ocf_lct           95384 non-null   float64
 50  cash_debt         109271 non-null  float64
 51  fcf_ocf           105540 non-null  float64
 52  lt_ppent          108797 non-null  float64
 53  dltt_be           106924 non-null  float64
 54  debt_assets       109840 non-null  float64
 55  debt_capital      108822 non-null  float64
 56  de_ratio          109840 non-null  float64
 57  intcov            99382 non-null   float64
 58  intcov_ratio      99375 non-null   float64
 59  cash_ratio        95515 non-null   float64
 60  quick_ratio       95515 non-null   float64
 61  curr_ratio        95515 non-null   float64
 62  cash_conversion   86412 non-null   float64
 63  inv_turn          90459 non-null   float64
 64  at_turn           109724 non-null  float64
 65  rect_turn         108598 non-null  float64
 66  pay_turn          106326 non-null  float64
 67  sale_invcap       109641 non-null  float64
 68  sale_equity       106805 non-null  float64
 69  sale_nwc          77690 non-null   float64
 70  rd_sale           109912 non-null  float64
 71  adv_sale          109804 non-null  float64
 72  staff_sale        109804 non-null  float64
 73  accrual           109735 non-null  float64
 74  ptb               106933 non-null  float64
dtypes: datetime64[ns](3), float64(66), int64(4), object(2)
memory usage: 62.9+ MB

In [6]:
ratio_stock_return_merge = df_fin_ratio.merge(df_stock_return, left_on='PERMNO-YearMonth', right_on='PERMNO_DATE_LABEL', how='inner')

In [7]:
ratio_stock_return_merge.head(10)

,gvkey,permno,adate,qdate,public_date,TICKER_x,year,month,PERMNO-YearMonth,CAPEI,...,Price Index,Unnamed: 8,Past 1-Month Ret,Past 3-Month Ret,Past 6-Month Ret,Past 12-Month Ret,Forward 1-Month Ret,Forward 3-Month Ret,Forward 6-Month Ret,PERMNO_DATE_LABEL
0,12142,10104,2002-05-31,2002-11-30,2003-01-31,ORCL,2003,1,10104-20031,23.713,...,1.000000,NaN,0.113889,NaN,NaN,NaN,-0.005819,-0.012469,0.069824,10104-20031
1,12142,10104,2002-05-31,2002-11-30,2003-02-28,ORCL,2003,2,10104-20032,23.454,...,0.994181,NaN,-0.005819,NaN,NaN,NaN,-0.092893,0.087793,0.003343,10104-20032
2,12142,10104,2002-05-31,2002-11-30,2003-03-31,ORCL,2003,3,10104-20033,21.279,...,0.901829,NaN,-0.092893,NaN,NaN,NaN,0.095032,0.107015,0.036961,10104-20033
3,12142,10104,2002-05-31,2003-02-28,2003-04-30,ORCL,2003,4,10104-20034,22.734,...,0.987531,NaN,0.095032,-0.012469,NaN,NaN,0.095118,0.009260,-0.040405,10104-20034
4,12142,10104,2002-05-31,2003-02-28,2003-05-31,ORCL,2003,5,10104-20035,24.849,...,1.081463,NaN,0.095118,0.087793,NaN,NaN,-0.076864,-0.013836,-0.083015,10104-20035
5,12142,10104,2002-05-31,2003-02-28,2003-06-30,ORCL,2003,6,10104-20036,22.942,...,0.998338,NaN,-0.076864,0.107015,NaN,NaN,-0.001665,-0.063281,-0.124898,10104-20036
6,12142,10104,2003-05-31,2003-05-31,2003-07-31,ORCL,2003,7,10104-20037,21.376,...,0.996675,NaN,-0.001665,0.009260,-0.003325,NaN,0.070058,-0.001669,-0.168476,10104-20037
7,12142,10104,2003-05-31,2003-05-31,2003-08-31,ORCL,2003,8,10104-20038,22.830,...,1.066500,NaN,0.070058,-0.013836,0.072743,NaN,-0.123149,-0.063134,-0.120813,10104-20038
8,12142,10104,2003-05-31,2003-05-31,2003-09-30,ORCL,2003,9,10104-20039,20.029,...,0.935162,NaN,-0.123149,-0.063281,0.036962,NaN,0.064,0.175999,0.125330,10104-20039
9,12142,10104,2003-05-31,2003-08-31,2003-10-31,ORCL,2003,10,10104-200310,21.688,...,0.995012,NaN,0.064,-0.001669,0.007576,NaN,0.004177,0.157894,0.064324,10104-200310

In [8]:
ratio_stock_return_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109960 entries, 0 to 109959
Data columns (total 92 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gvkey                109960 non-null  int64
 1   permno               109960 non-null  int64
 2   adate                109820 non-null  datetime64[ns]
 3   qdate                109960 non-null  datetime64[ns]
 4   public_date          109960 non-null  datetime64[ns]
 5   TICKER_x             109885 non-null  object
 6   year                 109960 non-null  int64
 7   month                109960 non-null  int64
 8   PERMNO-YearMonth     109960 non-null  object
 9   CAPEI                109324 non-null  float64
 10  bm                   106900 non-null  float64
 11  evm                  109430 non-null  float64
 12  pe_op_basic          109355 non-null  float64
 13  pe_op_dil            109340 non-null  float64
 14  pe_exi               109341 non-null  float64
 15  pe_inc               109353 non-null  float64
 16  ps                   109815 non-null  float64
 17  pcf                  109695 non-null  float64
 18  npm                  109815 non-null  float64
 19  opmbd                109815 non-null  float64
 20  opmad                109815 non-null  float64
 21  gpm                  109791 non-null  float64
 22  ptpm                 109815 non-null  float64
 23  cfm                  109259 non-null  float64
 24  roa                  109703 non-null  float64
 25  roe                  106779 non-null  float64
 26  roce                 109400 non-null  float64
 27  efftax               98301 non-null   float64
 28  aftret_eq            109709 non-null  float64
 29  aftret_invcapx       108592 non-null  float64
 30  aftret_equity        109709 non-null  float64
 31  pretret_noa          95182 non-null   float64
 32  pretret_earnat       95182 non-null   float64
 33  GProf                109847 non-null  float64
 34  equity_invcap        109643 non-null  float64
 35  debt_invcap          109418 non-null  float64
 36  totdebt_invcap       109388 non-null  float64
 37  capital_ratio        109631 non-null  float64
 38  int_debt             97383 non-null   float64
 39  int_totdebt          98023 non-null   float64
 40  cash_lt              109799 non-null  float64
 41  invt_act             94016 non-null   float64
 42  rect_act             95324 non-null   float64
 43  debt_at              109601 non-null  float64
 44  debt_ebitda          109175 non-null  float64
 45  short_debt           105395 non-null  float64
 46  curr_debt            95417 non-null   float64
 47  lt_debt              109631 non-null  float64
 48  profit_lct           95470 non-null   float64
 49  ocf_lct              95344 non-null   float64
 50  cash_debt            109231 non-null  float64
 51  fcf_ocf              105508 non-null  float64
 52  lt_ppent             108756 non-null  float64
 53  dltt_be              106890 non-null  float64
 54  debt_assets          109799 non-null  float64
 55  debt_capital         108781 non-null  float64
 56  de_ratio             109799 non-null  float64
 57  intcov               99341 non-null   float64
 58  intcov_ratio         99334 non-null   float64
 59  cash_ratio           95474 non-null   float64
 60  quick_ratio          95474 non-null   float64
 61  curr_ratio           95474 non-null   float64
 62  cash_conversion      86384 non-null   float64
 63  inv_turn             90428 non-null   float64
 64  at_turn              109683 non-null  float64
 65  rect_turn            108557 non-null  float64
 66  pay_turn             106288 non-null  float64
 67  sale_invcap          109602 non-null  float64
 68  sale_equity          106771 non-null  float64
 69  sale_nwc             77659 non-null   float64
 70  rd_sale              109871 non-null  float64
 71  adv_sale             109764 non-null  float64
 72  staff_sale           109764 non-null  float64
 73  accrual              109695 non-null  float64
 74  ptb                  106900 non-null  float64
 75  PERMNO               109960 non-null  int64
 76  date                 109960 non-null  datetime64[ns]
 77  YEAR                 109960 non-null  int64
 78  MONTH                109960 non-null  int64
 79  SIC Industry Code    109960 non-null  int64
 80  TICKER_y             109943 non-null  object
 81  COMNAM               109960 non-null  object
 82  Price Index          109960 non-null  float64
 83  Unnamed: 8           0 non-null       float64
 84  Past 1-Month Ret     109960 non-null  object
 85  Past 3-Month Ret     108363 non-null  float64
 86  Past 6-Month Ret     106659 non-null  float64
 87  Past 12-Month Ret    103282 non-null  float64
 88  Forward 1-Month Ret  109399 non-null  object
 89  Forward 3-Month Ret  108278 non-null  float64
 90  Forward 6-Month Ret  102730 non-null  float64
 91  PERMNO_DATE_LABEL    109960 non-null  object
dtypes: datetime64[ns](4), float64(73), int64(8), object(7)
memory usage: 78.0+ MB

In [9]:
df = pd.merge(ratio_stock_return_merge, df_sector_info, on='gvkey', how='left')

In [10]:
df.head(10)

,gvkey,permno_x,adate,qdate,public_date,TICKER_x,year,month,PERMNO-YearMonth,CAPEI,...,Past 3-Month Ret,Past 6-Month Ret,Past 12-Month Ret,Forward 1-Month Ret,Forward 3-Month Ret,Forward 6-Month Ret,PERMNO_DATE_LABEL,permno_y,TICKER,Sector Name
0,12142,10104,2002-05-31,2002-11-30,2003-01-31,ORCL,2003,1,10104-20031,23.713,...,NaN,NaN,NaN,-0.005819,-0.012469,0.069824,10104-20031,10104.0,ORCL,Information Technology
1,12142,10104,2002-05-31,2002-11-30,2003-02-28,ORCL,2003,2,10104-20032,23.454,...,NaN,NaN,NaN,-0.092893,0.087793,0.003343,10104-20032,10104.0,ORCL,Information Technology
2,12142,10104,2002-05-31,2002-11-30,2003-03-31,ORCL,2003,3,10104-20033,21.279,...,NaN,NaN,NaN,0.095032,0.107015,0.036961,10104-20033,10104.0,ORCL,Information Technology
3,12142,10104,2002-05-31,2003-02-28,2003-04-30,ORCL,2003,4,10104-20034,22.734,...,-0.012469,NaN,NaN,0.095118,0.009260,-0.040405,10104-20034,10104.0,ORCL,Information Technology
4,12142,10104,2002-05-31,2003-02-28,2003-05-31,ORCL,2003,5,10104-20035,24.849,...,0.087793,NaN,NaN,-0.076864,-0.013836,-0.083015,10104-20035,10104.0,ORCL,Information Technology
5,12142,10104,2002-05-31,2003-02-28,2003-06-30,ORCL,2003,6,10104-20036,22.942,...,0.107015,NaN,NaN,-0.001665,-0.063281,-0.124898,10104-20036,10104.0,ORCL,Information Technology
6,12142,10104,2003-05-31,2003-05-31,2003-07-31,ORCL,2003,7,10104-20037,21.376,...,0.009260,-0.003325,NaN,0.070058,-0.001669,-0.168476,10104-20037,10104.0,ORCL,Information Technology
7,12142,10104,2003-05-31,2003-05-31,2003-08-31,ORCL,2003,8,10104-20038,22.830,...,-0.013836,0.072743,NaN,-0.123149,-0.063134,-0.120813,10104-20038,10104.0,ORCL,Information Technology
8,12142,10104,2003-05-31,2003-05-31,2003-09-30,ORCL,2003,9,10104-20039,20.029,...,-0.063281,0.036962,NaN,0.064,0.175999,0.125330,10104-20039,10104.0,ORCL,Information Technology
9,12142,10104,2003-05-31,2003-08-31,2003-10-31,ORCL,2003,10,10104-200310,21.688,...,-0.001669,0.007576,NaN,0.004177,0.157894,0.064324,10104-200310,10104.0,ORCL,Information Technology

In [11]:
sectors_to_drop = ["Financials", "Real Estate", "Healthcare"]
df = df[~df['Sector Name'].isin(sectors_to_drop)]

In [12]:
df['Sector Name'].unique()

array(['Information Technology', 'Industrials', 'Consumer Staples',
       'Consumer Discretionery', 'Utilities', 'Energy', nan,
       'Communication Serv. ', 'Materials'], dtype=object)

In [13]:
df.head(10)

,gvkey,permno_x,adate,qdate,public_date,TICKER_x,year,month,PERMNO-YearMonth,CAPEI,...,Past 3-Month Ret,Past 6-Month Ret,Past 12-Month Ret,Forward 1-Month Ret,Forward 3-Month Ret,Forward 6-Month Ret,PERMNO_DATE_LABEL,permno_y,TICKER,Sector Name
0,12142,10104,2002-05-31,2002-11-30,2003-01-31,ORCL,2003,1,10104-20031,23.713,...,NaN,NaN,NaN,-0.005819,-0.012469,0.069824,10104-20031,10104.0,ORCL,Information Technology
1,12142,10104,2002-05-31,2002-11-30,2003-02-28,ORCL,2003,2,10104-20032,23.454,...,NaN,NaN,NaN,-0.092893,0.087793,0.003343,10104-20032,10104.0,ORCL,Information Technology
2,12142,10104,2002-05-31,2002-11-30,2003-03-31,ORCL,2003,3,10104-20033,21.279,...,NaN,NaN,NaN,0.095032,0.107015,0.036961,10104-20033,10104.0,ORCL,Information Technology
3,12142,10104,2002-05-31,2003-02-28,2003-04-30,ORCL,2003,4,10104-20034,22.734,...,-0.012469,NaN,NaN,0.095118,0.009260,-0.040405,10104-20034,10104.0,ORCL,Information Technology
4,12142,10104,2002-05-31,2003-02-28,2003-05-31,ORCL,2003,5,10104-20035,24.849,...,0.087793,NaN,NaN,-0.076864,-0.013836,-0.083015,10104-20035,10104.0,ORCL,Information Technology
5,12142,10104,2002-05-31,2003-02-28,2003-06-30,ORCL,2003,6,10104-20036,22.942,...,0.107015,NaN,NaN,-0.001665,-0.063281,-0.124898,10104-20036,10104.0,ORCL,Information Technology
6,12142,10104,2003-05-31,2003-05-31,2003-07-31,ORCL,2003,7,10104-20037,21.376,...,0.009260,-0.003325,NaN,0.070058,-0.001669,-0.168476,10104-20037,10104.0,ORCL,Information Technology
7,12142,10104,2003-05-31,2003-05-31,2003-08-31,ORCL,2003,8,10104-20038,22.830,...,-0.013836,0.072743,NaN,-0.123149,-0.063134,-0.120813,10104-20038,10104.0,ORCL,Information Technology
8,12142,10104,2003-05-31,2003-05-31,2003-09-30,ORCL,2003,9,10104-20039,20.029,...,-0.063281,0.036962,NaN,0.064,0.175999,0.125330,10104-20039,10104.0,ORCL,Information Technology
9,12142,10104,2003-05-31,2003-08-31,2003-10-31,ORCL,2003,10,10104-200310,21.688,...,-0.001669,0.007576,NaN,0.004177,0.157894,0.064324,10104-200310,10104.0,ORCL,Information Technology